{% block head %}
<style>
    body{
        background: #fdfaf2;
        font-family:Arial;
    }

    .login-form-container form, .register-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
  }
  .login-form-container, .register-form-container h2{
    color:#fe7600;
  }
  .login-form-container input, .register-form-container input {
    border: 3px solid #fe7600;
    font-size: large;
    
    color: #ec6e00;
    background-color:transparent;
    width: 300px;
    padding: 15px 15px;
    border-radius: 15px;
  }
  .login-form-container input::placeholder{
    color: #fe7600;
    }
  .login-form-container input:hover{
  background-color: rgb(249, 228, 183);
  }
  .login-form-container button{
    border: 3px solid #813a56;
    border-radius: 20px;
    padding: 18px 40px;
    cursor: pointer; 
    background-color: #7db6d4;
    font-size: large;
    color: #813a56;
    box-shadow: -5px 5px 0px 0px #813a56; 
  
  }

  .login-form-container button:hover{
    border: 3px solid #813a56;
    box-shadow: -4px 4px 0px 0px #813a56; 
  
  }
    .public-nav {
        display: flex;
        justify-content: space-around;
        height: 100px;
        background: #fdfaf2;
        border: 1px solid #ccc;
    }
    .login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Full viewport height to center vertically */
  }

  .error-message{
    color: #813a56;
  }
  
  .form-inner{
    background-color: rgb(255, 221, 149);
    outline: none;
    border: 2px solid #fe7600;
    padding: 40px;
    /* border: 3px solid #813a56; */
    border-radius: 10px; /* Optional: for rounded corners */
    /* background-color: #ebe1d8;  */
    display: flex;
    flex-direction: column;
    width: 500px; /* Or whatever width you prefer */
  }

.public-nav-item {
        font-weight: lighter;
        font-size: larger;
        position: relative;
        flex: 1; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        border-right: 1px solid #ccc; 
        padding: 20px 0;
        transition: background-color 0.3s ease;
        }
    .public-nav-item h3 {
        color:#3b3b3b;
        font-weight:light; 
        font-size:30px;
    }

</style>
{% endblock %}
<body>
    <div class='public-nav' >
        <div class='public-nav-item'>
            <h3 >ᆞᆞCᆞᆞAᆞᆞTᆞᆞLᆞᆞOᆞᆞGᆞᆞ</h3>
        </div>
    </div>
    <div class='login-form-container'>
        <div class='form-inner'>
            <form>
                <h2>Password reset complete</h2>
                <p style="text-align: center;">Your password has been set. You may go ahead and log in now.</p>
                {{form.as_p}}
                <button type="button" onclick="location.href='http://127.0.0.1:3000/login'">Login</button>
            </form>

        </div>
    </div>
</body>



